body {
    background-color: #6a8bbd;
}

label {
    font-weight: 600;
    color: white;
}

.container {
    margin-top: 80px;
}

#userInput {
    width: 100%;
}

#error {
    color: #a91515;
    display: none;
}